{% extends 'ressources/../base.html' %}
{% load bootstrap_tags %}
{% load i18n %}

{% block title %} {% trans 'Mon compte' %} {% endblock title %}

{% block css %} {% endblock css %}

{% block body %}

    <div class="container text-center center-align mb-5">
        <div class="row" style="margin-bottom: 20px">
            <div class="col-md-12">
                <h1 class="title_website">Adopt'Your'<span style="color: firebrick">Hero</span></h1>
                <hr/>
                <h5 class="text-muted">{% trans 'Mon profil utilisateur' %}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5>{% trans 'Les réservations au nom de :' %} {{ profile.username }}</h5>
                <hr/>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="current-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">
                            {% trans "Réservations en cours et à venir" %} ({{ bookings|length }})
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="passed_tab" data-bs-toggle="tab" data-bs-target="#passed"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">
                            {% trans "Réservations passées" %} ({{ past_bookings|length }})
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="current-tab">
                        {% if bookings %}
                            {% for booking in bookings %}
                                <div class="card m-4">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {% trans 'Réservation :' %}
                                            <a href="{% url 'django_app:detail' booking.ressource.id %}">{{ booking.ressource.libelle }}</a>
                                        </h5>
                                        <h5 class="card-subtitle mt-3 mb-2 text-muted">
                                            {% trans 'Au nom de : ' %}{{ booking.title }}
                                        </h5>
                                        <h6 class="card-subtitle mt-3 mb-2">
                                            Du : <br>
                                            {{ booking.date_start|date }}<br>
                                            Au : <br>
                                            {{ booking.date_end|date }}
                                        </h6>
                                        <div class="d-grid gap-2 col-4 mx-auto">
                                            {% if booking.is_in_futur %}
                                                <h6 style="color: darkgreen">{% trans "Modifiable (à venir)" %}</h6>
                                                <a href="{% url 'django_app:booking_modify' booking.id %}"
                                                   class="btn btn-primary">{% trans "Modifier" %}</a>
                                            {% else %}
                                                <h6 style="color: orangered">{% trans "Non modifiable (en cours)" %}</h6>
                                            {% endif %}
                                            <a href="{% url 'django_app:booking_delete' booking.id %}"
                                               class="btn btn-danger mt-1">{% trans "Supprimer" %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Pas de ressource existante." %}</p>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="passed" role="tabpanel" aria-labelledby="passed-tab">
                        {% if past_bookings %}
                            {% for booking_past in past_bookings %}
                                <div class="card m-4">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {% trans 'Réservation :' %}
                                            <a href="{% url 'django_app:detail' booking_past.ressource.id %}">{{ booking_past.ressource.libelle }}</a>
                                        </h5>
                                        <h5 class="card-subtitle mt-3 mb-2 text-muted">
                                            {% trans 'Au nom de : ' %}{{ booking_past.title }}
                                        </h5>
                                        <h6 class="card-subtitle mt-3 mb-2">
                                            Du : <br>
                                            {{ booking_past.date_start|date }}<br>
                                            Au : <br>
                                            {{ booking_past.date_end|date }}
                                        </h6>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Pas de ressource existante." %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block js %} {% endblock js %}

